.titulo {
    text-align: center;
    margin-top: 40px;
    border: solid 2px;
}

.card-detail {
    display: flex;
    text-align: center;
    width: 100%;
}

.card-detail-left {
    max-width: 350px;
}

.img {
    margin-left: 45%;
    max-width: 350px;
}

.card-detail-right {
    margin-inline: 15%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price {
    font-size: 30px;
}

.button-buy {
    background-color: #7DCE13;
    width: 50%;
    margin-top: 1rem;
    color: white;
}

.button-buy:hover {
    background-color: #5BB318;
}


