.container {
    flex-direction: row;
}

.card-border-primary-mb-3 {
    margin-left: 5px;
}

.card-header {
    text-align: center;
}
.imagenes {
    width: 200px;
    height: 250px;
}

.card-text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.card-text1 {
    text-align: center;
    background: rgb(187, 185, 185);
    border-radius: 15px;
}

.boton {
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: gray;
}